  .block {
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  background-color: #ffd2da;
}
.nav > li > a:focus, .nav > li > a:hover {
  background-color: #ffd2da;
  color: black;
  border: 1px solid #b2868e;
}
a {
  color: black;
}
a:hover {
  color: black;
}
.list-group {
  margin-bottom: 0px;
}

#smoothe {
  display: flex;
  justify-content: space-around;
}
.titre {
  color: #664c51;
}
/* CSS des societes.*/

.well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #ffd2da;
  border: 1px solid #ffd2da;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  padding-left: 15px;
  border: 0px;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
  padding-left: 0px;
  padding-right: 0px;
}

.icon-style {
  margin-right: 15px;
  font-size: 18px;
  margin-top: 20px;
}

p {
  margin: 3px;
}

.well-add-card {
  margin-bottom: 10px;
}

.btn-add-card {
  margin-top: 20px;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 6px solid #ffd2da;
  border-radius: 15px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  padding-left: 0px;
  padding-right: 0px;
}

.btn {
  border-radius: 0px;
}

.btn-update {
  margin-left: 15px;
}
hr {
	display: block;
	clear: both;
	height: 0;
	margin: 40px 0 80px;
	padding: 0;
	border: 0;
	font-family: arial;
	text-align: center;
	font-size: 60px;
	line-height: 1;
}
hr:after {
	content: "\273D \273D \273D";
	height: 0;
	letter-spacing: 1em;
	color: #aaa;
}
.table {
  width: auto;
}
body{
  font-family: 'Raleway', sans-serif;
}

footer{
	background-color:#222222;
    padding: 60px 0px;
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
}

footer ul li{
    float:left;
}

footer ul li a{
	color:#b1aca1;
    padding:20px;
}

footer ul li a:hover{
	color:#7dabdb;
	text-decoration:none;
}

.footer-top{
	padding-bottom:50px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
	font-size:12px;
	padding:15px 0 10px 0;
}
.footer {

}
